@import "../settings/colorsFonts.scss";

.technology_background {
  background-image: url("../image/technology/background-technology-mobile.jpg");
  height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.technology_carousel {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.technology_title {
  font-family: $second_font;
  color: $color_title;
  font-size: 16px;
  letter-spacing: 2.7px;
  line-height: 19px;
  text-align: center;
  margin: 24px 0 32px 0;

  span {
    font-weight: bold;

    opacity: 0.25;
    margin-right: 10px;
  }
}

.technology_container {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}
.technology_section-one {
  width: 100vw;
  // height: 25vh;
}
.technology_section-image {
  width: 100%;
  height: auto;
}

.technology_section-two {
  text-align: center;
  margin: 100px 20px 0 20px;

  :nth-child(1) {
    font-family: $second_font;
    color: $color_text;
    font-size: 14px;
    letter-spacing: 2.3625px;
    margin-bottom: 9px;
  }

  h3 {
    font-family: $main_font;
    color: $color_title;
    font-size: 24px;
    // margin-bottom: 16px;
    // margin-top: 9px;
    margin: 9px 0 16px 0;
  }

  :nth-child(3) {
    font-family: $second_font;

    color: $color_text;
    font-size: 15px;

    line-height: 25px;
  }
}
.technology_indicators {
  position: relative;
  width: 100vw;
  bottom: 280px;
  // left: 29vw;
  display: flex;
  justify-content: center;

  // margin: 0 auto;

  @media (min-height: 640px) {
    bottom: 260px;
  }

  @media (min-height: 653px) and (max-width: 280px) {
    bottom: 310px;
  }

  @media (min-height: 720px) and (min-width: 540px) {
    bottom: 210px;
  }

  @media (min-height: 1000px) and (min-width: 500px) and (max-width: 600px) {
    bottom: 265px;
  }

  // @media (min-height: 700px) {
  //   bottom: 340px;
  // }

  // @media (min-height: 820px) {
  //   bottom: 325px;
  // }

  // @media (min-height: 813px) {
  //   top: 345px;
  // }
  :nth-child(2) {
    margin: 0 16px 0 16px;
  }
}

.technology_button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.253);
  color: $color_title;
  background-color: transparent;

  &.active {
    background-color: $color_title;
    color: $color_black;
  }
}

@media (min-width: 376px) {
  .technology_background {
    background-image: url("../image/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 712px) and (min-height: 1000px) {
  .technology_background {
    background-image: url("../image/technology/background-technology-desktop.jpg");
  }

  .technology_title {
    font-size: 20px;
    letter-spacing: 3.375px;
    text-align: left;
    margin: 50px 0 60px 38px;

    span {
      margin-right: 16px;
    }
  }

  .technology_button {
    width: 60px;
    height: 60px;
  }

  .technology_section-two {
    // margin-top: 160px;
    margin: 170px 100px 0 100px;

    :nth-child(1) {
      font-size: 16px;
      letter-spacing: 2.7px;
    }

    h3 {
      font-size: 40px;
      margin: 16px 0 16px 0;
    }

    :nth-child(3) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  .technology_indicators {
    bottom: 320px;

    @media (min-height: 1024px) {
      bottom: 290px;
    }

    @media (min-width: 1000px) and (min-height: 1300px) {
      bottom: 265px;
    }
  }
}

@media (min-width: 1200px) {
  .technology_carousel {
    height: 70vh;
  }

  .technology_container {
    flex-direction: row-reverse;
    width: 100vw;
  }

  .technology_title {
    font-size: 28px;
    letter-spacing: 4.725px;
    margin-left: 15vw;
    margin-top: 40px;
    text-align: left;
    span {
      margin-right: 28px;
    }
  }

  .technology_section-one {
    display: flex;
    justify-content: right;
    width: 80%;
  }

  .technology_section-image {
    width: inherit;
  }

  .technology_section-two {
    width: 100%;
    display: flex;
    justify-content: right;
  }

  .technology_text {
    text-align: left;
    width: 70%;
  }

  .technology_indicators {
    display: flex;
    flex-direction: column;
    bottom: 80%;
    left: 5%;

    @media (min-width: 1600px) {
      bottom: 65%;
    }

    :nth-child(2) {
      margin: 32px 0 32px 0;
    }
  }

  .technology_section-two {
    // margin-top: 160px;
    // margin: 170px 100px 0 100px;

    :nth-child(1) {
      font-size: 16px;
      letter-spacing: 2.7px;
    }

    h3 {
      font-size: 50px;
      margin: 17px 0 17px 0;
    }

    :nth-child(3) {
      font-size: 18px;
      line-height: 32px;
    }
  }

  .technology_button {
    width: 70px;
    height: 70px;
  }
}
