$color_black: #0b0d17;
$color_text: #d0d6f9;
$color_title: #ffffff;
$color_hover: #1a1a1a;

$main_font: "Bellefair", serif;
$second_font: "Barlow Condensed", sans-serif;
$third_font: "Barlow", sans-serif;
